<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello WebSocket</title>
    <!--<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="/main.css" rel="stylesheet"/>
    <link href="/css/css.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--<script src="/webjars/jquery/jquery.min.js"></script>-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/jsScript.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function showHands(message) {
            var knappText = [[${knappen}]];

            if (knappText == "Remove") {
                $("#greetings").children().remove();
                console.log("meddelande " + message);
                $("#greetings").append(message);

            }
            else {
                $("#greetings").children().remove();
                var $message = $(message).not('button');
                $("#greetings").append(message);
                console.log("meddelande " + message);
                var newmessage = "";
                $(".removeBtn").css("display","none");
                $(".removeBtn").remove();
            }
        }


        /*]]>*/
    </script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <form class="form-inline">
            <!--<div class="form-group">
                <label for="connect">WebSocket connection:
                <button id="connect" class="btn btn-default" type="submit">Connect</button>
                <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                </button></label>
            </div>-->
        </form>

        <div class="col-md-12">
            <h1><span class="fa fa-hand-stop-o"></span>Handboken</h1>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Your name here..."/>
                    <input type="text" id="message" class="form-control" placeholder="Describe your problem here..."/>
                    <input type="text" id="room" class="form-control" placeholder="Tell us where you are here..."/>
                    <button id="send" class="btn btn-default" type="submit">Send</button>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Raise your hand</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>